body {
    background: #2B2B2B;
    color: white;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: underline;
	color: white;
}

.mets {
    background: orange;
}

.dodgers {
    background: blue;
}

.cubs {
    background: #852727;
}

.pittsburgh {
    background: #292f85;
}

.cardinals {
    background: red;
}

.table-container {
    background: black;
}
